@import "../css/reset.css";
@import "../css/supersish.css";

html, body {
	height:auto;
}

@import url(//fonts.googleapis.com/css?family=Ubuntu:400);

body {
	min-width: 300px;
	background: #fff;
}

#search-results{
	background: #fff;
	padding:0px 10px 0px 5px;
	overflow:hidden;
    font: 14px/18px 'Ubuntu', Arial, Helvetica, sans-serif;
}

h3 {
	font-size: 30px;
	line-height: 30px;
	padding-top: 51px;
	margin-bottom: 20px;
}

#search-results iframe html{
	border:none;
}

#search-results iframe {
	min-width:300px;
}

.search_link {
	padding-top: 4px;
	display: inline-block;
	padding-left: 5px;
	font: normal 14px/20px 'Ubuntu', sans-serif;
	color: #5e5a59;
	text-shadow: none;
}

.search_link:hover {
	color: #EB6654;
}

h4 {
	margin-left: 0px;
}

ol.search_list {
	list-style-type:none;
	counter-reset: ol;
	padding-left: 0;
	margin-left: 15px;
}

ol.search_list li:before {
	content: counter(ol) ".";
	counter-increment: ol;
	float:left;
	display:block;
	width:20px;
	text-align:right;	
	padding-right:10px;
	margin:8px 0px 0 -40px
}

ol.search_list li {
	padding-bottom:20px;
	margin-left:15px;
	background: none !important;
}
span.match {
	color:#EB6654;
	font-size:11px;
	display:block;
}

span.search {color:#EB6654;}

.search_link{text-decoration: none;}
.search_link:hover{text-decoration: underline;}
