/****Form****/

#form {
	padding-top: 12px;
}

#form input {
	width: 100%;
	height: 42px;
	float:left;
	background: #f5f5f5;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	color: #5e5a59;
    font: normal 14px/18px 'Ubuntu', sans-serif;
	border: none;
    padding: 8px 14px;
}

#form textarea {
	width: 100%;
	background: #f5f5f5;
	height: 322px;
	position: relative;
	resize:none;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	float:left;
	margin: 0;
	color: #5e5a59;
    font: normal 14px/18px 'Ubuntu', sans-serif;
	border: none;
    padding: 12px 14px;
}

#form ._placeholder {
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #5e5a59;
    font: normal 14px/18px 'Ubuntu', sans-serif;
	border: none;
    padding: 12px 15px;
	height: 42px !important;
	width: 100% !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	cursor: text !important;
	display: block;
}

#form ._placeholder.hidden {
	display: none;
}

#form ._placeholder.focused {
	opacity: 0.3;
}

#form .message ._placeholder {
	height: 100% !important;
}
#form label {
	position:relative;
	display: block;
	min-height: 41px;
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 10px;
}

#form label.message {
	width: 100%;
	margin-left: 0;
}

#form .error-message, #form .empty-message {
	color: #5e5a59;
	font-size: 14px;
	line-height:18px;
	width:auto;
	position: absolute;
	z-index: 999;
	top: 16px;
	opacity: 0;
	right: 14px;
	float:left;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

#form .invalid .error-message, #form .empty .empty-message {
	opacity: 1;
}

.btns {position: relative;float: left; margin-bottom: 35px;}
.btns a.link1 {margin: 31px 15px 0 0!important;}

#form .success-message {
	display: none;
	opacity: 0;
	position: absolute;
	background: #f5f5f5;
	width: 100%;
	border: none;
	height:88px;
	text-align: center;
	padding: 33px 14px;
	z-index: 999;
	color:#5e5a59;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

#form.success .success-message {
	display: block;
	opacity: 1;
}

.success_wrapper {
	position: relative;	
}

.map_c {
    height: 479px;
    margin-top: 12px;
    width: 100%;
}
.add {
	padding-top:7px;
}
address {
	position: relative;
	margin: -17px 0 52px;
	line-height: 18px;
	float: left;
	text-align: left;
	color: #5e5a59;
	font-size: 14px;
	line-height: 20px;
}

address span {display: inline-block; float: left;}
address a {color: #5e5a59; padding-bottom: 3px;text-decoration: underline;}
address a:hover {color: #eb6654;}
address p { 
	margin-bottom: 12px;
	position: relative;
	color: #583e7d;
	display: block;
	text-transform: uppercase;
}

dl dt {margin-bottom: 16px; position: relative; overflow: hidden;}
dl dd {text-align: right; width: 204px; display: inline-block;}

@media only screen and (max-width: 995px) {

	#form label {
		float: none !important;	
		width: 100%;
		margin-left: 0 !important;
	}
	
	#form input {
		margin-bottom: 10px;
	}
	
	#form .success-message {
		width: 100%;
	}
	
	#form label.email {
		width: 100%;
		margin: 0;
	}
	
	#form label.message {width: 100%;}

	#form textarea {height: 324px!important;}

	.btn {margin-top: 10px;}

}

@media only screen and (max-width: 767px) {
  
 	.map_c {height: 380px;margin-bottom: 15px;}

  	.address {margin-bottom: 30px;}

    #form textarea {height: 300px !important; width: 100%;}

}

@media only screen and (max-width: 479px) {

  .map_c {height: 268px;}	
  #form textarea {height: 200px !important;}

}