a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text], textarea{ outline:none;border-radius:0;}

.search_box {
	position: relative;
	padding: 10px 0 55px;
	margin-bottom: 35px;
	border-bottom: 1px solid #e5e4e4;
}

#search {
	width: 94%; 
	padding: 11px;
	background: #f5f5f5;
}

#search input {
	background: #f5f5f5;
	border: none; 
	width: 91%;
	font: normal 14px/18px 'Ubuntu', sans-serif;
	color: #5e5a59;
	padding-right: 1%;
	
}

#search a {
	cursor: pointer; 
	position: absolute; 
	margin: 0;
	margin-top: -2px;
	margin-right: 0px;
}
#search a img:hover {
	background: url(../images/search-hover.png) 0 0 no-repeat;
	z-index: 100;
	background-position: 1px 1px;
}

@media only screen and (max-width: 1170px) {
	
	#search input {width: 90%;}
}

@media only screen and (max-width: 995px) {
	
	#search input {width: 88%;}
	#search a {margin-right: 6px;}

}

@media only screen and (max-width: 767px) {

	#search a {margin-left: 6px;}
	#search input {width: 90%;}

}

@media only screen and (max-width: 320px) {

	#search a {margin-left: 6px;}
	#search input {width: 87%;}

}