{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
     <head>
     <title>{% block title %}{% endblock title %} - Planet Shooting</title>
     <meta charset="utf-8">
     <meta name = "format-detection" content = "telephone=no" />
     <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
     <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
     <link rel="stylesheet" href="{% static "css/camera.css" %}">
     <link rel="stylesheet" href="{% static "css/style.css" %}">
     <link rel="stylesheet" href="{% static "css/custom.css" %}">
     <script src="{% static "js/jquery.js" %}"></script>
     <script src="{% static "js/jquery-migrate-1.2.1.js" %}"></script>
     <script src="{% static "js/jquery.easing.1.3.js" %}"></script>
	   <script src="{% static "js/script.js" %}"></script>
     <script src="{% static "js/jquery.equalheights.js" %}"></script>
     <script src="{% static "js/jquery.ui.totop.js" %}"></script>
     <script src="{% static "js/superfish.js" %}"></script>
     <script src="{% static "js/jquery.mobilemenu.js" %}"></script>
     <script src="{% static "js/camera.js" %}"></script>
     <script src="{% static "js/TMForm.js" %}"></script>
     <script src="{% static "js/jquery-ui.js" %}"></script>
     <script src="{% static "js/jquery.ui.datepicker.js" %}"></script>
     <!--[if (gt IE 9)|!(IE)]><!-->
     <script src="{% static "js/jquery.mobile.customized.min.js" %}"></script>
     <!--<![endif]-->
     <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
   		<script src="js/html5shiv.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
        <script>
            $(document).ready(function(){
                jQuery('#camera_wrap').camera({
                    loader: true,
                    pagination: true,
                    minHeight: '175',
                    thumbnails: false,
                    height: '48.43%',
                    caption: true,
                    navigation: true,
                    fx: 'blindCurtainSliceTop'
                });
                /*Back to Top*/
                $().UItoTop({ easingType: 'easeOutQuart' });
                $("#datepicker").datepicker();
             });
        </script>
     </head>

     <body id="top">

       {% include "header.html" %}

       {% block content %}
       {% endblock content %}

       {% include "footer.html" %}

      </body>
</html>
