{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Contact Us
{% endblock title %}

{% block content %}

<!--===================content===========================-->

    <div class="container">
        <div class="divider1"></div>
        <div class="row">
        <div class="grid_8">
        <h3>How to Find Us</h3>
            <div class="grid_5 alpha">
               <div class="map">
                <figure>
                 <iframe class="map_c" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                </figure>
                </div>
            </div>
            <div class="grid_3 omega">
            <div class="add">
            <h4>The Company Name Inc.</h4>
                <address>
                    <dl>
                    <dt>
                        <span>8901 Marmora Road,</span><br><span>Glasgow, D04 89GR.</span>
                    </dt>
                        <dd><span>Freephone: </span>+1 800 559 6580</dd>
                        <dd><span>Telephone:</span>+1 800 603 6035</dd>
                        <dd><span>FAX:</span>+1 800 889 9898</dd>
                    </dl>
                    <span>E-mail:&nbsp;</span><a href="#">mail@demolink.org</a>
                </address>
                 <address>
                    <dl>
                    <dt>
                        <span>9863 - 9867 Mill Road,</span><br><span>Cambridge, MG09 99HT.</span>
                    </dt>
                        <dd><span>Freephone: </span>+1 800 559 6580</dd>
                        <dd><span>Telephone:</span>+1 800 603 6035</dd>
                        <dd><span>FAX:</span>+1 800 889 9898</dd>
                    </dl>
                    <span>E-mail:&nbsp;</span><a href="#">mail@demolink.org</a>
                </address>
              </div>
            </div>
            </div>
            <div class="grid_4">
            <h3>Contact Form</h3>
                <form id="form">
                    <div class="success_wrapper">
                        <div class="success-message">Contact form submitted</div>
                    </div>
                    <label class="name">
                        <input type="text" placeholder="Name:" data-constraints="@Required @JustLetters" />
                        <span class="empty-message">*This field is required.</span>
                        <span class="error-message">*This is not a valid name.</span>
                    </label>
                    <label class="email">
                        <input type="text" placeholder="E-mail:" data-constraints="@Required @Email" />
                        <span class="empty-message">*This field is required.</span>
                        <span class="error-message">*This is not a valid email.</span>
                    </label>
                    <label class="phone">
                        <input type="text" placeholder="Phone:" data-constraints="@Required @JustNumbers"/>
                        <span class="empty-message">*This field is required.</span>
                        <span class="error-message">*This is not a valid phone.</span>
                    </label>
                    <label class="message">
                        <textarea placeholder="Message:" data-constraints='@Required @Length(min=20,max=999999)'></textarea>
                        <span class="empty-message">*This field is required.</span>
                        <span class="error-message">*The message is too short.</span>
                    </label>
                    <div class="clear"></div>
                    <div class="btns">
                        <a class="link1" href="#" data-type="reset">Clear</a>
                        <a class="link1" href="#" data-type="submit">Send</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="divider2"></div>
    </div>

{% endblock content %}
