{% load staticfiles %}

<figure>
    <iframe class="map_wide" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
</figure>

<!--=====================footer=========================-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="grid_3 fright">
                <ul class="list1">
                    <li><a href="#">Events Schedule</a></li>
                    <li><a href="#">Hunting</a></li>
                    <li><a href="#">Firearms</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">Membership</a></li>
                    <li><a href="#">Contacts </a></li>
                </ul>
            </div>
            <div class="grid_3 fright">
                <ul class="list1">
                    <li><a href="#">google plus</a></li>
                    <li><a href="#">flickr</a></li>
                    <li><a href="#">Dribble</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Skype</a></li>
                </ul>
            </div>
             <div class="grid_6 fleft">
                <h1><a href="index.html"><img src="{% static "images/logo.png" %}" alt="" class="logo"></a></h1>
                <div class="copy"><span>Designed by <a href="http://www.delhinerds.com" target="_blank">Delhi Nerds</a>. Planet Shooting&nbsp;&nbsp;&bull;&nbsp;&nbsp;&copy;</span>&nbsp;&nbsp;<span id="copyright-year"></span>&nbsp;&nbsp;&bull;
                <a href="index-6.html">Privacy Policy</a></div>
            </div>
        </div>
    </div>
</footer>
</div>
