{% load staticfiles %}

<!--========================header=============================-->
<div class="box">
    <header id="header">
    <div class="container">
    <div class="row">
        <div class="grid_4">
            <h1><a href="{% url "website:index" %}"><img src="{% static "images/logo.png" %}" alt="" class="logo"></a></h1>
        </div>
        <div class="grid_8">
            <nav>
                <ul class="sf-menu">
                    <li class="current"><a href="{% url "website:index" %}">Home</a>
                        <ul>
                            <li><a href="#">Events Schedule</a></li>
                            <li><a href="#">Hunting</a></li>
                            <li><a href="#">Firearms</a>
                                <ul>
                                    <li><a href="#">Latest</a></li>
                                    <li><a href="#">Archive</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Training</a></li>
                            <li><a href="#">Membership</a></li>
                            <li><a href="#">Contacts</a></li>
                       </ul>
                    </li>
                    <li><a href="index-1.html">About</a></li>
                    <li><a href="index-2.html">Services</a></li>
                    <li><a href="index-3.html">News</a></li>
                    <li><a href="index-4.html">Blog</a></li>
                    <li><a href="index-5.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
    </header>
    <div class="clear"></div>
