{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Home
{% endblock title %}

{% block content %}


<!--======================slider=========================-->

        <div class="slider_wrapper">
            <div id="camera_wrap" class="">
              {% for each in sliderImages %}
                <div data-src="{{each.image.url}}">
                <div class="camera_caption">
                    <div class="title">{{each.title}}</div>
                    <div class="title1">{{each.text|safe}}</div>
                    <!-- <div class="border"><a href="#" class="link">read more</a></div> -->
                </div>
                </div>
              {% endfor %}
            </div>
        </div>
    <div class="clear"></div>

<!--===================content===========================-->

    <div class="container">
        <div class="row">
            <div class="grid_4">
                <div class="thumb">
                    <div class="col1"></div>
                    <h2>Training</h2>
                    <img src="{% static "images/page1_img1.jpg" %}" alt="">
                    <p>Aenean nonummy endrit mauris. Phasellus porta. Fusce suscipit varius m sociis nue penat ibus et magnis dis par.</p>
                    <a href="#" class="link1">view more</a>
                </div>
            </div>
            <div class="grid_4">
                <div class="thumb">
                    <div class="col2"></div>
                    <h2>Club</h2>
                    <img src="{% static "images/page1_img2.jpg" %}" alt="">
                    <p>Fusce suscipit varius m sociis naque patibus et magnis dis parient tes nascetur ridicu mus. Nulla dui. Fusce feugiat malesuada odio.</p>
                    <a href="#" class="link1">view more</a>
                </div>
            </div>
            <div class="grid_4">
                <div class="thumb">
                     <div class="col3"></div>
                    <h2>Members</h2>
                    <img src="{% static "images/page1_img3.jpg" %}" alt="">
                    <p>Fusce feugiat malesuada odiorbi nunc odio gravida atcursus necuctus a lorem. Maecenas tristique orci ac sem. </p>
                    <a href="#" class="link1">view more</a>
                </div>
            </div>
        </div>
             <div class="divider"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="grid_4">
                <h3>Services</h3>
                <ul class="list">
                    <li><a href="#">Fusce feugiat malesuada odior</a></li>
                    <li><a href="#">Odio gravida atcursus necuctus a lorem </a></li>
                    <li><a href="#">Maecenas tristique orci ac sem </a></li>
                    <li><a href="#">Duis ultricies pharetra mag</a></li>
                    <li><a href="#">Donec accumsan malesuada orci</a></li>
                    <li><a href="#">Donec sit amet eros</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet con</a></li>
                </ul>
                <a href="#" class="link1">view more</a>
            </div>
            <div class="grid_4">
                <h3>Welcome</h3>
                <div class="text"><p>Fusce suscipit varius m sociis naque ptibus et magnis dis parient tes nascetur ridicu mus. Nulla dui. Fusce <i>feugiat malesuada</i> odiorbi odio gravida atcursus nec uctus a lorem. Maeceas trisis ultri cies pharetra magnanec accumsan malesuada orc inec sit amet eros. </p><br>
                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit. Mauris fermentum dictum magna.ed aoreet aliquam leo. Ut tellus dolor dapibus eget eleme ntum vel cursus eleifend elit. </p></div>
                <a href="#" class="link1">view more</a>
            </div>
            <div class="grid_4">
                <h3>Calendar</h3>
                <div id="datepicker"></div>
            </div>
        </div>
    </div>

{% endblock content %}
